<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function(){
            $("#ajaxBtn").click(function(){

                $.post('/ajax.do', { userId: 11 ,age:16}, function (text, status) {
                    console.info(text);
                });
            });
        });
    </script>
</head>
<body>
<form method="post" action="./login.do">
<label>用户名:</label><input type="text" name="userName"/>
<label>密码:</label><input type="password"/>
<input type="submit" value="确认"/>
</form>
<input id="ajaxBtn" value="ajax请求" type="button"/>
<script type="text/javascript">
    var _maq = _maq || [];

    (function() {
        var ma = document.createElement('script'); ma.type = 'text/javascript'; ma.async = true;
        ma.src = ('https:' == document.location.protocol ? 'https://analytics' : 'http://analytics') + '.ab.com/ma.js?v='+ new Date().getTime();
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ma, s);
    })();
</script>
</body>
</html>
